In [15]:
ingreso = float(input('Digite un numero '))

if ingreso>1<500:
    print('Pacora')
    
if ingreso>500<1000:
    print('Las cumbres')
    
if ingreso>1000<3000:
    print('El dorado')
    
if ingreso>3000<5000:
    print('San Francisco')
    
if ingreso>5000:
    print('Altos del Maria')

Digite un numero 400
Pacora

In [21]:

respuesta = 8
numero    = float(input('Digite un numero '))# el numero que ud eligio

if respuesta > numero:
    print('Te fuiste muy abajo')
if respuesta < numero: 
    print('Te fuiste muy arriba')
if respuesta == numero:
    print('Ese es el numero, atinaste')

Digite un numero 8
Ese es el numero, atinaste

In [24]:
salario = float(input ('Escriba su salario '))
if salario > 900:
    SegSocial = salario*0.0975
    SegEdu = salario*0.0125
    
print(SegSocial)
print(SegEdu)

Escriba su salario 1575
153.5625
19.6875

In [42]:
tiempo = float(input('Introduzca un valor de tiempo '))
distancia =  float(input('Introduzca una distancia '))
velocidad = float(input('Introduzca una velocidad '))
def colision(tiempo, distancia, velocidad):
    if tiempo==10 and distancia==0.5 and velocidad==0.2:
        print('Habra una colision')
    else:
        print('No habra colision')

Introduzca un valor de tiempo 10
Introduzca una distancia 0.5
Introduzca una velocidad 0.2

In [47]:
table_periodica = ['na', 'br', 'ca', 'cu', 'au', 'nd', 'ag']
for elemento in table_periodica:
    print(elemento.title())

Na
Br
Ca
Cu
Au
Nd
Ag

In [61]:
factorial=1
print("Dame un numero")
x=eval (input())
for i in range (1,x+1):
    factorial=factorial*i
 
print(factorial)

Dame un numero
6
720

In [62]:
sum=0
Num=int(input("ingrese un numero\n"))
for i in range(1,Num+1):
 sum=sum+i
print(sum)

ingrese un numero
30
465

In [128]:
A= ('Kenshin Himura')
B= ('Kamiya Kaoru')
C= ('Myōjin Yahiko')
D= ('Sagara Sanosuke')
E= ('Takani Megumi')
F= ('Shinomori Aoshi')
G= ('Saitō Hajime')
H= ('Makimachi Misao')

A.replace(" ","-")
print(A.lower())
B.replace(" ","-")
print(B.lower())
C.replace(" ","-")
print(C.lower())
D.replace(" ","-")
print(D.lower())
E.replace(" ","-")
print(E.lower())
F.replace(" ","-")
print(F.lower())
G.replace(" ","-")
print(G.lower())
H.replace(" ","-")
print(H.lower())

kenshin himura
kamiya kaoru
myōjin yahiko
sagara sanosuke
takani megumi
shinomori aoshi
saitō hajime
makimachi misao

In [131]:
numeros = {0:'cero', 1:'uno', 2:'dos', 3:'tres', 4:'cuatro', 5:'cinco',
           6:'seis', 7:'siete', 8:'ocho', 9:'nueve', 10:'diez'}

for key in numeros.keys():
    print(key)

0
1
2
3
4
5
6
7
8
9
10

In [135]:
factorial=int(1)
print("Dame un numero")
numero = int(input())
while(numero !=0):
    factorial = factorial * numero;
    numero = numero -1

print(factorial)

Dame un numero
6
720

In [ ]:
num = 456

    
#print('El número más cercano es {}'.format())

In [4]:
palabras = ['Cretino', 'Vida mía', 'Baboso', 'Bocachancla','Cielo', 'Cielito', 'Mi vida', 'Mi luz', 
            'Luz de mis ojos', 'Bebecita', 'Cariño', 'Papacito', 'Zoquete', 'Cariño mío', 'Patan', 'Cari', 
            'Corazón', 'Mi rey', 'Lerdo','Osito', 'Bombón', 'Charlatan', 'Dulzura', 'Galletita', 
            'Fanfarrón']
ofensas = ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
count = 0
for piropos in palabras:
    if piropos in ofensas:
        print(f' No se espera {ofensas}')
        continue
    else:
        count = count + 1
        print(f' {piropos}')

 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 Vida mía
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 Cielo
 Cielito
 Mi vida
 Mi luz
 Luz de mis ojos
 Bebecita
 Cariño
 Papacito
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 Cariño mío
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 Cari
 Corazón
 Mi rey
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 Osito
 Bombón
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']
 Dulzura
 Galletita
 No se espera ['Baboso', 'Bocachancla', 'Charlatan', 'Cretino', 'Fanfarrón', 'Lerdo', 'Patan', 'Zoquete']

In [139]:
item = ['frutas', 'vegetales', 'juguetes', 'cereales', 'detergente', 'hogar', 'farmacia', 'papel', 'otros']
peso = [320, 655, 880, 375, 450, 200, 499, 1000, 932]


print(list(zip(item, peso)))
for n, w in zip(item, peso):
    print(n, w)

[('frutas', 320), ('vegetales', 655), ('juguetes', 880), ('cereales', 375), ('detergente', 450), ('hogar', 200), ('farmacia', 499), ('papel', 1000), ('otros', 932)]
frutas 320
vegetales 655
juguetes 880
cereales 375
detergente 450
hogar 200
farmacia 499
papel 1000
otros 932

In [160]:
tup = ((1,-1), (2,-2), (3,-3), (4,-4), (5,-5))
pos,neg = zip(*tup)
pos = list(pos)
neg = list(neg)
print(pos)
print(neg)

[1, 2, 3, 4, 5]
[-1, -2, -3, -4, -5]

In [169]:
matriz5x4 = (( 1, 2, 3, 4),
             ( 5, 6, 7, 8),
             ( 9,10,11,12),
             (13,14,15,16),
             (17,18,19,20))
n,w,x,i = zip(*matriz5x4)
n = list(n)
w = list(w)
x = list(x)
i = list(i)
#print(n)
matriz4x5 =(n,w,x,i)
print(matriz4x5) #note que la respuesta es un tuple nuevamente

([1, 5, 9, 13, 17], [2, 6, 10, 14, 18], [3, 7, 11, 15, 19], [4, 8, 12, 16, 20])

In [173]:
twilight = ['Bella Swan', 'Edward Cullen', 'Jacob Black', 'Charlie Swan',
            'Carlisle Cullen', 'Esme Cullen', 'Alice Cullen']
for i in enumerate(twilight):
    print(i)

(0, 'Bella Swan')
(1, 'Edward Cullen')
(2, 'Jacob Black')
(3, 'Charlie Swan')
(4, 'Carlisle Cullen')
(5, 'Esme Cullen')
(6, 'Alice Cullen')

In [1]:
conquistadores = ['Vasco Núnez de Balboa', 'Luis de Moscoso Alvarado', 'Juan de Cárdenas',
                  'Pedro de Heredia', 'Gutierre de Miranda', 'Juan de Salcedo']
nombre=[name.split()[0] for name in conquistadores]
respuesta= str(nombre)[1:-1]
print(respuesta)

'Vasco', 'Luis', 'Juan', 'Pedro', 'Gutierre', 'Juan'

In [42]:
#Calcule los números primos hasta el número 10
#con la fórmula de Fermat usando listas de comprensión.

In [45]:
major_league_players = {'Mel Allen':1978, 'Red Barber':1978, 'Jerry Coleman':2005,
          'Joe Garagiola, Sr.':1991, 'Curt Gowdy':1984, 'Ken Harrelson':2020,
          'Al Helfer':2019, 'Russ Hodges':1980}
#for player in major_league_players.keys():
player = [jugador for jugador in major_league_players if 1980<=major_league_players[jugador]<=2015]
print(player)

['Jerry Coleman', 'Joe Garagiola, Sr.', 'Curt Gowdy', 'Russ Hodges']